body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    background: rgb(255, 255, 255);
    background: linear-gradient(158deg, rgba(255, 255, 255, 1) 0%, rgba(59, 219, 135, 1) 37%, rgba(111, 188, 247, 1) 65%, rgba(4, 113, 190, 1) 100%);
}

html {
    height: 100%;
}

.top-bar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
  }
  .logo {
    max-width: 150px;
  }
  .top-bar .title h2 {
    margin: 0;
    margin: auto;
  }
  .profile-container {
    position: relative;
    cursor: pointer;
    width: 150px;
  }
  
  .profile-pic {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    display: none;
    z-index: 1001;
  }
  
  .dropdown-menu.active {
    display: block;
  }
  
  
  .dropdown-menu div {
    padding: 12px;
    border-bottom: 1px solid #eee;
  }
  
  .dropdown-menu div:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu div p {
    max-width: 100%;
    overflow: hidden;        /* Hides the overflowing content */
    text-overflow: ellipsis; /* Adds the ellipsis (...) */
    white-space: nowrap;     /* Prevents text from wrapping to the next line */
    margin: 5px 0;
  }
  
  .logout {
    background-color: #f44336;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
  }
  
  .logout:hover {
    background-color: #d32f2f;
  }


/* Additional styling */
.header h1,
h3 {
    margin: 0;
}

#titleBox {
    margin: 0;
    padding: 0;
}

#titleBox h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 20px;
}

#titleBox h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 0;
    /* Removes any extra spacing above */
    padding-top: 0;
    /* Ensures no extra padding */
    line-height: 1;
    /* Reduces the height occupied by text */
    position: relative;
    /* Allows for fine-tuned positioning */
    top: -10px;
    /* Moves it upwards */
}

.form-container {
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* slight box shadow */
    max-width: 1200px;
    width: 90%;
    /* Adjust the width of the container */
    margin: 0 auto;
    /* Center the container */
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-header {
    margin-top: 0;
    margin-bottom: 5px;
}

label {
    display: block;
}

/* Style for the text input */
input[type="text"] {
    width: calc(100% - 10px);
    /* 100% minus the padding */
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="email"] {
    width: calc(100% - 20px);
    /* 100% minus the padding */
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    /* Green */
}

input[type="text"]::placeholder {
    color: #aaa;
}

input[type="email"]:focus {
    border-color: #4CAF50;
    /* Green */
}

input[type="email"]::placeholder {
    color: #aaa;
}

select:disabled,
input[type="text"]:disabled,
input[type="email"]:disabled {
    border-color: #808080;
    cursor: not-allowed;
    /* Green */
}

/* Styles for the select dropdowns */
select {
    font-size: medium;
    width: calc(100% - 20px);
    /* 100% minus the padding */
    padding: 5px 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    /*background-image: linear-gradient(45deg, transparent 50%, #ccc 50%), linear-gradient(135deg, #ccc 50%, transparent 50%);*/
    background-position: calc(100% - 10px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
}

/* Style the options */
option {
    padding: 5px;
}

/* Style the selected options */
option:checked {
    background-color: #007bff;
    color: #fff;
}

/* Style for the progress bar */
progress {
    width: calc(100% - 20px);
    /* 100% minus the padding */
    height: 20px;
    appearance: none;
    border: none;
    background-color: #f0f0f0;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #4CAF50;
    /* Green */
    border-radius: 10px;
    animation: progress-animation 1s ease-out forwards;
    /* Animation */
}

@keyframes progress-animation {
    from {
        width: 0%;
    }
}
@media (max-width: 500px) {
    .header-section:first-child, .header-section:last-child {
        display: none;
    }
}

@media (max-width: 660px) {
    .header-section:first-child h2 {
        display: none;
    }
}

.container {
    display: block;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.progress-bar__container {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px #5192e7;
}

.progress-bar-Sub__container {
    width: 100%;
    height: .5rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px #5192e7;
}

.progress-bar-Main,
.progress-bar-Sub {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #5f93f3;
    top: 0;
    bottom: 0;
    left: -100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    margin: 0 auto;
}




/* Style for the extracted IDs */
.extracted-ids {
    display: none;
    /* Initially hidden */
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}

/* Style for the submit button */
input[type="submit"] {
    background-color: #4CAF50;
    /* Green */
    font-size: 20px;
    color: white;
    padding: 12px 0;
    /* Adjust vertical padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    /* Set width to 50% */
    display: block;
    /* Make it a block element */
    margin: 0 auto;
    /* Center horizontally */
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
    /* Darker green */
}

input[type="submit"]:active {
    background-color: #3e8e41;
    /* Slightly darker green */
}

input[type="submit"]:disabled {
    background-color: #868686;
    cursor: not-allowed;
    /* Slightly darker green */
}

/* Style for the submit button */
.submitButton {
    background-color: #4CAF50;
    /* Green */
    font-size: 20px;
    color: white;
    padding: 12px 0;
    /* Adjust vertical padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    /* Set width to 50% */
    display: block;
    /* Make it a block element */
    margin: 15 auto;
    /* Center horizontally */
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #45a049;
    /* Darker green */
}

.submitButton:active {
    background-color: #3e8e41;
    /* Slightly darker green */
}

.submitButton:disabled {
    background-color: #ccc; /* Grey */
    cursor: not-allowed;
}




/* Styles for Drag and drop */

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    width: 90%;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

#drop-area.hover {
    border-color: #3b97e3;
}

#drop-area.uploaded {
    background-color: #f0f0f0;
}

#drop-area p {
    margin: 0;
    color: #666;
}

#fileInput {
    display: none;
}

.file-icon {
    font-size: 48px;
    margin-bottom: 10px;
    color: #3b97e3;
}

#file-info {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
    margin-top: 10px;
}

.button:hover {
    background-color: #45a049;
}

ul li {
    list-style: none;
}

.form-label {
    margin: 10 0;
}

.form-label-half {
    margin: 10 0;
    width: calc(50% - 20px);
    /* 100% minus the padding */
}

.form-input-half {
    display: inline;
    width: 50%
        /* 100% minus the padding */
}

.form-details {
    display: flex;
}


#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent black overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* ensure the loading screen appears on top */
}

.spinner {
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loadingScreen p {
    font-size: 16px;
    /* Adjust font size as needed */
    margin-top: 20px;
    /* Add some space between the spinner and the text */
    color: white;
}

.footer-logo {
    position: fixed;
    /* Fixes the position relative to the viewport */
    bottom: 20px;
    /* Distance from the bottom edge */
    right: 20px;
    /* Distance from the right edge */
    width: 150px;
    /* Set the size of the logo */
    height: auto;
    /* Maintain aspect ratio */
    z-index: 1000;
    /* Ensure it appears above other elements */
    opacity: 0.8;
    /* Slight transparency for a modern feel */
    transition: opacity 0.3s ease;
    /* Smooth hover effect */
}

.footer-logo:hover {
    opacity: 1;
    /* Full opacity on hover */
    transform: scale(1.05);
    /* Slight zoom-in effect on hover */
    transition: var(--transition);
}

#appInfo {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#projectDetails p {
    margin-bottom: 0;
}

.hidden{
    display: none;
}
.override-btn {
    background-color: #ff4c4c;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
  }

  .override-btn:hover {
    background-color: #e60000;
  }

  .override-btn:active {
    background-color: #cc0000;
  }

  .tooltip-container {
    position: relative;
    /* display: inline-block; */
  }

  .tooltip-text {
    visibility: hidden;
    width: 280px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    border-radius: 4px;

    /* Positioning */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* above the button */
    left: 50%;
    transform: translateX(-50%);
    
    /* Fade effect */
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }